<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Transações bancárias</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	 <div class="panel panel-default" style="max-width: 700px; margin: 16px auto;">
        <div class="panel-heading">
          <h4>Cadastrar clientes</h4>
		</div>
		<div class="panel-body">
			<form th:action="@{/adicionarPessoa}" method="post">
				<div class="form-group row">
					<label for="nome" class="col-sm-2 col-form-label">Nome</label>
					<div class="col-sm-4">
						<input id="nome" th:field="*{nome}" class="form-control"
								th:classappend="${#fields.hasErrors('age')} ? has-error : ''"/>
					</div>
					<label for="cpf" class="col-sm-2 col-form-label">CPF</label>
					<div class="col-sm-4">
						<input id="cpf" name="cpf" class="form-control"/>
					</div>
				</div>
				<div class="form-group row">
					<label for="email" class="col-sm-2 col-form-label">E-mail</label>
					<div class="col-sm-4">
						<input id="email" name="email" class="form-control"/>
					</div>
					<label for="telefone" class="col-sm-2 col-form-label">Telefone</label>
					<div class="col-sm-4">
						<input id="telefone" name="telefone" class="form-control"/>
					</div>
				</div>
				<div class="form-group row">
					<label for="endereco" class="col-sm-2 col-form-label">Endereço</label>
					<div class="col-sm-4">
						<input id="endereco" name="endereco" class="form-control"/>
					</div>
					<label for="dataNascimento" class="col-sm-2 col-form-label">Data de nascimento</label>
					<div class="col-sm-4">
						<input id="dataNascimento" name="dataNascimento"
							class="form-control" placeholder="DD/MM/YYYY"/>
					</div>
				</div>
				<div class="form-group row">
				  <div class="offset-sm-10 col-sm-2">
					<button type="submit" class="btn btn-primary">Cadastrar</button>
				  </div>
				</div>
			</form>
		</div>
	</div>

	<div class="panel panel-default" style="max-width: 700px; margin: 16px auto;">
			 <div class="panel-heading">
				 <h4>Realizar transação</h4>
	 </div>
	 <div class="panel-body">
		 <form th:action="@{/realizarTransacao}" method="post">
			 <div class="form-group row">
				 <label for="contaOrigem" class="col-sm-2 col-form-label">Conta</label>
				 <div class="col-sm-6">
					<select id="contaOrigem" name="contaOrigem" onchange="atualizarSaldo(this.value)"
							class="form-control">
		 				<option th:each="cliente : ${clientes}" th:text="${cliente.nome}" th:value="${cliente.conta.id}"></option>
					</select>
				 </div>
				 <label for="saldo" class="col-sm-2 col-form-label">Saldo</label>
				 <div class="col-sm-2">
					 <p id="saldo" class="form-control-static" th:text="${saldo}"></p>
				 </div>
			 </div>

			 <div class="form-group row">
				 <label for="tipo" class="col-sm-2 col-form-label">Tipo</label>
				 <div class="col-sm-2">
					 <select id="tipo" name="tipo" onchange="mostrarContaDestino(this.value)"
 							class="form-control">
 		 				<option th:each="tipo : ${tipos}" th:text="${tipo.descricao}" th:value="${tipo}"></option>
 					</select>
				 </div>
				 <label for="contaDestino" class="col-sm-2 col-form-label">Conta destino</label>
				 <div id="dvContaDestino" class="col-sm-6" style="display: none">
					 <select id="contaDestino" name="contaDestino" class="form-control">
	 					<option th:each="cliente : ${clientes}" th:text="${cliente.nome}" th:value="${cliente.conta.id}"></option>
	 				</select>
				 </div>
			 </div>

			 <div class="form-group row">
				 <label for="valor" class="col-sm-2 col-form-label">Valor</label>
				 <div class="col-sm-4">
					 <input name="valor" type="number" step="0.01" min="0"
					 		class="form-control"/>
				 </div>
				 <label for="data" class="col-sm-2 col-form-label">Data</label>
				 <div class="col-sm-4">
					 <input id="data" name="data" class="form-control"
					 	placeholder="DD/MM/YYYY"/>
				 </div>
			 </div>

			 <div class="form-group row">
				 <div class="offset-sm-10 col-sm-2">
				 <button type="submit" class="btn btn-primary">Realizar transação</button>
				 </div>
			 </div>
		 </form>
	 </div>
	</div>

	<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>
