<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Transações bancárias</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div style="border-style: solid; border-width: 5px; border-radius: 3px; padding: 16px">
	    <h3>Cadastrar clientes</h3>
	    <form action="adicionarPessoa">
	    	Nome: <input name="nome"/>
	    	CPF: <input name="cpf"/>
	    	E-mail: <input name="email" type="email"/><br/>
	    	Telefone: <input name="telefone" type="tel"/>
	    	Endereço: <input name="endereco"/>
	    	Data de nascimento: <input name="dataNascimento" type="date"/>
	    	<input type="submit"/>
	    </form>
	</div>
</body>
</html>